.header {
    height: 4rem;
    width: 100vw;
    background: linear-gradient(to right, #2196F3, rgb(0, 84, 167));
    color: white;
    font-size: 40px;
    font-weight: 400;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.logo {
    display: flex;
    margin-right: 4rem;
    margin-left: 2rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signIn {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-right: 2rem;
}

.buttons {
    display: flex;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}