.container {
    width: 100%;
}

.content {
    margin: 2rem;
    background-color: rgb(251, 251, 251);
    padding: 2rem;
    border-radius: 10px;
    border: #dcdcdc 1px solid;

}

.tabs {
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.tab {
    min-width: 70px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #555;
    margin-right: 5px;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #ddd;
  }

.tabActive {
    min-width: 70px;
    padding: 10px 20px;
    background-color: rgb(0, 140, 255);
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    display: flex;
  }
  