.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.main-container {
    display: flex;
}

.page-title {
    width: 100%;
    font-size: 50px;
    height: 100px;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    color: rgb(42, 42, 42);
    white-space: nowrap;
}