.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.main-container {
    display: flex;
}

.page-title {
    width: 100%;
    font-size: 50px;
    height: 100px;
    background-color: rgb(49, 176, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    white-space: nowrap;
}